body {
    font-family: Quicksand;
    color: black;
}

/*footer*/
span {
    font-size: 0.85rem;
}
footer {
    height: 70px;
    padding: 15px 0 15px 0;
}

ul, li {
    display: inline-block;
    float:right;
}

li {
    padding-right: 20px;
}

.icon-color {
    color: #818181;
}